{
    "openapi": "3.0.1",
    "info": {
      "title": "Erp.BO.CustomerSvc",
      "version": "v2"
    },
    "servers": [
      {
        "url": "https://centralusdtapp69.epicorsaas.com/saas5298/api/v2/odata"
      }
    ],
    "paths": {
      "/{currentCompany}/Erp.BO.CustomerSvc/": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Get service document",
          "description": "Get service document for the service",
          "operationId": "GetServiceDocument",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/$metadata": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Get metadata document",
          "description": "Get service OData metadata in XML format",
          "operationId": "GetMetadata",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns metadata document",
              "content": {
                "application/xml": { }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve Customer items",
          "description": "Get Customer items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customers",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_expand"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerSetResponse"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "OData"
          ],
          "summary": "Calls UpdateExt to create new item for the service",
          "description": "Calls UpdateExt to create new item for the service.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "Add_UpdateExt_Customers",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            }
          ],
          "requestBody": {
            "description": "Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Customer"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Resource is created. Operation is successful.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.Customer"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.Customer"
                  }
                }
              }
            },
            "400": {
              "description": "Unable to deserialize entity. Input data is not in correct format."
            },
            "500": {
              "description": "Internal server error. Server is unable to process the request."
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve Customer item",
          "description": "Calls GetRows to retrieve Customer item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_expand"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.Customer"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.Customer"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "OData"
          ],
          "summary": "Call UpdateExt to delete Customer item",
          "description": "Call UpdateExt to delete Customer item.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "Delete_UpdateExt_Customer",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "No Content. Operation is successful."
            },
            "500": {
              "description": "Internal server error. Server is unable to process the request."
            }
          }
        },
        "patch": {
          "tags": [
            "OData"
          ],
          "summary": "Calls UpdateExt to update Customer for the service",
          "description": "Calls UpdateExt to update Customer.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "UpdateExt_Customer",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "requestBody": {
            "description": "Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Customer"
                }
              }
            },
            "required": true
          },
          "responses": {
            "204": {
              "description": "No Content. Operation is successful."
            },
            "400": {
              "description": "Unable to deserialize entity. Input data is not in correct format."
            },
            "500": {
              "description": "Internal server error. Server is unable to process the request."
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustBanks": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustBank items",
          "description": "Get CustBank items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustBanks",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBankSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBankSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustBanks('{Company}',{CustNum},'{BankID}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustBank item",
          "description": "Calls GetRows to retrieve CustBank item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustBank",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "BankID",
              "in": "path",
              "description": "BankID",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBank"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBank"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustBillToes": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustBillTo items",
          "description": "Get CustBillTo items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustBillToes",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBillToSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBillToSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustBillToes('{Company}',{CustNum},{BTCustNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustBillTo item",
          "description": "Calls GetRows to retrieve CustBillTo item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustBillTo",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "BTCustNum",
              "in": "path",
              "description": "BTCustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBillTo"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustBillTo"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustChilds": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustChild items",
          "description": "Get CustChild items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustChilds",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustChildSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustChildSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustChilds('{Company}',{CustNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustChild item",
          "description": "Calls GetRows to retrieve CustChild item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustChild",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustChild"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustChild"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustDfltDocTypes": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustDfltDocType items",
          "description": "Get CustDfltDocType items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustDfltDocTypes",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustDfltDocTypeSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustDfltDocTypeSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustDfltDocTypes('{Company}',{CustNum},'{InvoiceType}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustDfltDocType item",
          "description": "Calls GetRows to retrieve CustDfltDocType item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustDfltDocType",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "InvoiceType",
              "in": "path",
              "description": "InvoiceType",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustDfltDocType"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustDfltDocType"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustICs": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustIC items",
          "description": "Get CustIC items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustICs",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustICSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustICSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustICs('{Company}',{CustNum},'{ShipToNum}','{ICTypeID}','{ICCode}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustIC item",
          "description": "Calls GetRows to retrieve CustIC item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustIC",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShipToNum",
              "in": "path",
              "description": "ShipToNum",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ICTypeID",
              "in": "path",
              "description": "ICTypeID",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ICCode",
              "in": "path",
              "description": "ICCode",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustIC"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustIC"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustLabExpRates": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustLabExpRate items",
          "description": "Get CustLabExpRate items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustLabExpRates",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustLabExpRateSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustLabExpRateSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustLabExpRates('{Company}',{CustNum},'{ExpenseCode}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustLabExpRate item",
          "description": "Calls GetRows to retrieve CustLabExpRate item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustLabExpRate",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ExpenseCode",
              "in": "path",
              "description": "ExpenseCode",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustLabExpRate"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustLabExpRate"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustMandates": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustMandate items",
          "description": "Get CustMandate items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustMandates",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMandateSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMandateSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustMandates('{Company}','{MandateType}','{MandateReference}',{CustNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustMandate item",
          "description": "Calls GetRows to retrieve CustMandate item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustMandate",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "MandateType",
              "in": "path",
              "description": "MandateType",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "MandateReference",
              "in": "path",
              "description": "MandateReference",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMandate"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMandate"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustMFBills": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustMFBill items",
          "description": "Get CustMFBill items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustMFBills",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMFBillSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMFBillSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustMFBills('{Company}',{CustNum},'{PayBTFlag}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustMFBill item",
          "description": "Calls GetRows to retrieve CustMFBill item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustMFBill",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "PayBTFlag",
              "in": "path",
              "description": "PayBTFlag",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMFBill"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustMFBill"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomCrdPools": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomCrdPool items",
          "description": "Get CustomCrdPool items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomCrdPools",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomCrdPoolSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomCrdPoolSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomCrdPools({SysRowID})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomCrdPool item",
          "description": "Calls GetRows to retrieve CustomCrdPool item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomCrdPool",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "SysRowID",
              "in": "path",
              "description": "SysRowID",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomCrdPool"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomCrdPool"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerAttches": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerAttch items",
          "description": "Get CustomerAttch items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerAttches",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerAttchSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerAttchSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerAttches('{Company}',{CustNum},{DrawingSeq})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerAttch item",
          "description": "Calls GetRows to retrieve CustomerAttch item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerAttch",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "DrawingSeq",
              "in": "path",
              "description": "DrawingSeq",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerAttch"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerAttch"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerDiscPriceLsts": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerDiscPriceLst items",
          "description": "Get CustomerDiscPriceLst items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerDiscPriceLsts",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDiscPriceLstSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDiscPriceLstSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerDiscPriceLsts('{Company}',{CustNum},'{ShipToNum}',{SeqNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerDiscPriceLst item",
          "description": "Calls GetRows to retrieve CustomerDiscPriceLst item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerDiscPriceLst",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShipToNum",
              "in": "path",
              "description": "ShipToNum",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "SeqNum",
              "in": "path",
              "description": "SeqNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDiscPriceLst"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDiscPriceLst"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerDocs": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerDoc items",
          "description": "Get CustomerDoc items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerDocs",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDocSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDocSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerDocs('{Company}',{CustNum},'{ShipToNum}','{DocumentName}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerDoc item",
          "description": "Calls GetRows to retrieve CustomerDoc item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerDoc",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShipToNum",
              "in": "path",
              "description": "ShipToNum",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "DocumentName",
              "in": "path",
              "description": "DocumentName",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDoc"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerDoc"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerFSPriceLists": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerFSPriceList items",
          "description": "Get CustomerFSPriceList items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerFSPriceLists",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerFSPriceListSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerFSPriceListSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerFSPriceLists('{Company}',{CustNum},'{ShipToNum}',{SeqNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerFSPriceList item",
          "description": "Calls GetRows to retrieve CustomerFSPriceList item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerFSPriceList",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShipToNum",
              "in": "path",
              "description": "ShipToNum",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "SeqNum",
              "in": "path",
              "description": "SeqNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerFSPriceList"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerFSPriceList"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerPriceLsts": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerPriceLst items",
          "description": "Get CustomerPriceLst items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerPriceLsts",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerPriceLstSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerPriceLstSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustomerPriceLsts('{Company}',{CustNum},'{ShipToNum}',{SeqNum})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustomerPriceLst item",
          "description": "Calls GetRows to retrieve CustomerPriceLst item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustomerPriceLst",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShipToNum",
              "in": "path",
              "description": "ShipToNum",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "SeqNum",
              "in": "path",
              "description": "SeqNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerPriceLst"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustomerPriceLst"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustRestrictions": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustRestriction items",
          "description": "Get CustRestriction items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustRestrictions",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustRestrictionSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustRestrictionSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustRestrictions('{Company}',{CustNum},'{RestrictionTypeID}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustRestriction item",
          "description": "Calls GetRows to retrieve CustRestriction item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustRestriction",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "RestrictionTypeID",
              "in": "path",
              "description": "RestrictionTypeID",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustRestriction"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustRestriction"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustUPSEmails": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustUPSEmail items",
          "description": "Get CustUPSEmail items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustUPSEmails",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustUPSEmailSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustUPSEmailSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/CustUPSEmails('{Company}',{CustNum},{UPSQVSeq})": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve CustUPSEmail item",
          "description": "Calls GetRows to retrieve CustUPSEmail item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_CustUPSEmail",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "UPSQVSeq",
              "in": "path",
              "description": "UPSQVSeq",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustUPSEmail"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.CustUPSEmail"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/EntityGLCs": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve EntityGLC items",
          "description": "Get EntityGLC items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_EntityGLCs",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.EntityGLCSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.EntityGLCSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/EntityGLCs('{Company}','{RelatedToFile}','{Key1}','{Key2}','{Key3}','{Key4}','{Key5}','{Key6}','{GLControlType}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve EntityGLC item",
          "description": "Calls GetRows to retrieve EntityGLC item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_EntityGLC",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "RelatedToFile",
              "in": "path",
              "description": "RelatedToFile",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key1",
              "in": "path",
              "description": "Key1",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key2",
              "in": "path",
              "description": "Key2",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key3",
              "in": "path",
              "description": "Key3",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key4",
              "in": "path",
              "description": "Key4",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key5",
              "in": "path",
              "description": "Key5",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Key6",
              "in": "path",
              "description": "Key6",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "GLControlType",
              "in": "path",
              "description": "GLControlType",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.EntityGLC"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.EntityGLC"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/GlbCustCreds": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve GlbCustCred items",
          "description": "Get GlbCustCred items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_GlbCustCreds",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            },
            {
              "$ref": "#/components/parameters/op_orderby"
            },
            {
              "$ref": "#/components/parameters/op_top"
            },
            {
              "$ref": "#/components/parameters/op_skip"
            },
            {
              "$ref": "#/components/parameters/op_count"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.GlbCustCredSetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.GlbCustCredSetResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/GlbCustCreds('{Company}',{CustNum},'{ExtCompany}')": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve GlbCustCred item",
          "description": "Calls GetRows to retrieve GlbCustCred item by specified keys.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_GlbCustCred",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ExtCompany",
              "in": "path",
              "description": "ExtCompany",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/op_select"
            },
            {
              "$ref": "#/components/parameters/op_filter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.GlbCustCred"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erp.GlbCustCred"
                  }
                }
              }
            }
          }
        }
      },
      "/{currentCompany}/Erp.BO.CustomerSvc/Customers('{Company}',{CustNum})/MangCusts": {
        "get": {
          "tags": [
            "OData"
          ],
          "summary": "Calls GetRows to retrieve MangCust items",
          "description": "Get MangCust items from the server using GetRows standard method.<div>OData-specific rules:<ul><li>OData $-parameters data are case-sensitive</li><li>String parameters should be specified in single quotes</li></ul></div>",
          "operationId": "GetRows_Customer_MangCusts",
          "parameters": [
            {
              "$ref": "#/components/parameters/currentCompany"
            },
            {
              "$ref": "#/components/parameters/X-API-Key"
            },
            {
              "name": "Company",
              "in": "path",
              "description": "Company",
              "required": true,
              "allowEmptyValue": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CustNum",
              "in": "path",
              "description": "CustNum",
              "required": true,
              "schema": {
[...]
