{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.PartSvc",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://centralusdtapp69.epicorsaas.com/saas5298/api/v2/odata"
    }
  ],
  "paths": {
    "/{currentCompany}/Erp.BO.PartSvc/": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Get service document",
        "description": "Get service document for the service",
        "operationId": "GetServiceDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/$metadata": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Get metadata document",
        "description": "Get service OData metadata in XML format",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns metadata document",
            "content": {
              "application/xml": {

              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve Part items",
        "description": "Get Part items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Parts",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSetResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OData"
        ],
        "summary": "Calls UpdateExt to create new item for the service",
        "description": "Calls UpdateExt to create new item for the service.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "Add_UpdateExt_Parts",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "requestBody": {
          "description": "Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.Part"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.Part"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Resource is created. Operation is successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Part"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Part"
                }
              }
            }
          },
          "400": {
            "description": "Unable to deserialize entity. Input data is not in correct format."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve Part item",
        "description": "Calls GetRows to retrieve Part item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Part"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.Part"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OData"
        ],
        "summary": "Call UpdateExt to delete Part item",
        "description": "Call UpdateExt to delete Part item.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "Delete_UpdateExt_Part",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Operation is successful."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      },
      "patch": {
        "tags": [
          "OData"
        ],
        "summary": "Calls UpdateExt to update Part for the service",
        "description": "Calls UpdateExt to update Part.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "UpdateExt_Part",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.Part"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.Part"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content. Operation is successful."
          },
          "400": {
            "description": "Unable to deserialize entity. Input data is not in correct format."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/EntityGLCs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve EntityGLC items",
        "description": "Get EntityGLC items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_EntityGLCs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.EntityGLCSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.EntityGLCSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/EntityGLCs('{Company}','{RelatedToFile}','{Key1}','{Key2}','{Key3}','{Key4}','{Key5}','{Key6}','{GLControlType}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve EntityGLC item",
        "description": "Calls GetRows to retrieve EntityGLC item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_EntityGLC",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RelatedToFile",
            "in": "path",
            "description": "RelatedToFile",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key1",
            "in": "path",
            "description": "Key1",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key2",
            "in": "path",
            "description": "Key2",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key3",
            "in": "path",
            "description": "Key3",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key4",
            "in": "path",
            "description": "Key4",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key5",
            "in": "path",
            "description": "Key5",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key6",
            "in": "path",
            "description": "Key6",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GLControlType",
            "in": "path",
            "description": "GLControlType",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.EntityGLC"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.EntityGLC"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartAttches": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartAttch items",
        "description": "Get PartAttch items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartAttches",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttchSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttchSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartAttches('{Company}','{PartNum}',{DrawingSeq})": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartAttch item",
        "description": "Calls GetRows to retrieve PartAttch item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartAttch",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DrawingSeq",
            "in": "path",
            "description": "DrawingSeq",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartBinInfoes": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartBinInfo items",
        "description": "Get PartBinInfo items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartBinInfoes",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartBinInfoSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartBinInfoSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartBinInfoes('{Company}','{PartNum}','{WarehouseCode}','{BinNum}','{Plant}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartBinInfo item",
        "description": "Calls GetRows to retrieve PartBinInfo item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartBinInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WarehouseCode",
            "in": "path",
            "description": "WarehouseCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BinNum",
            "in": "path",
            "description": "BinNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Plant",
            "in": "path",
            "description": "Plant",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartBinInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartBinInfo"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartCOOs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartCOO items",
        "description": "Get PartCOO items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartCOOs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOOSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOOSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartCOOs('{Company}','{PartNum}',{OrigCountry})": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartCOO item",
        "description": "Calls GetRows to retrieve PartCOO item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartCOO",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrigCountry",
            "in": "path",
            "description": "OrigCountry",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOO"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartDims": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartDim items",
        "description": "Get PartDim items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartDims",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartDimSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartDimSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartDims('{Company}','{PartNum}','{DimCode}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartDim item",
        "description": "Calls GetRows to retrieve PartDim item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartDim",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DimCode",
            "in": "path",
            "description": "DimCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartDim"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartDim"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartLangDescs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartLangDesc items",
        "description": "Get PartLangDesc items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartLangDescs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartLangDescSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartLangDescSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartLangDescs('{LangNameID}','{PartNum}','{Company}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartLangDesc item",
        "description": "Calls GetRows to retrieve PartLangDesc item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartLangDesc",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LangNameID",
            "in": "path",
            "description": "LangNameID",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartLangDesc"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartLangDesc"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPCs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPC items",
        "description": "Get PartPC items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPCs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPCSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPCSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPCs('{Company}','{PartNum}','{PCType}','{ProdCode}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPC item",
        "description": "Calls GetRows to retrieve PartPC item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPC",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PCType",
            "in": "path",
            "description": "PCType",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProdCode",
            "in": "path",
            "description": "ProdCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPC"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPC"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlanningPools": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlanningPool items",
        "description": "Get PartPlanningPool items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlanningPools",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlanningPoolSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlanningPoolSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlanningPools('{Company}','{PartNum}','{PoolPartNum}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlanningPool item",
        "description": "Calls GetRows to retrieve PartPlanningPool item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlanningPool",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PoolPartNum",
            "in": "path",
            "description": "PoolPartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlanningPool"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlanningPool"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlantPlanningAttributes": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlantPlanningAttribute items",
        "description": "Get PartPlantPlanningAttribute items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlantPlanningAttributes",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantPlanningAttributeSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantPlanningAttributeSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlantPlanningAttributes('{Company}','{PartNum}','{Plant}','{AttrClassID}',{PlanningAttributeSetSeq})": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlantPlanningAttribute item",
        "description": "Calls GetRows to retrieve PartPlantPlanningAttribute item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlantPlanningAttribute",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Plant",
            "in": "path",
            "description": "Plant",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AttrClassID",
            "in": "path",
            "description": "AttrClassID",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PlanningAttributeSetSeq",
            "in": "path",
            "description": "PlanningAttributeSetSeq",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantPlanningAttribute"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantPlanningAttribute"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlants": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlant items",
        "description": "Get PartPlant items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlants",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlantSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartPlants('{Company}','{Plant}','{PartNum}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartPlant item",
        "description": "Calls GetRows to retrieve PartPlant item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartPlant",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Plant",
            "in": "path",
            "description": "Plant",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlant"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartPlant"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartRestrictions": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartRestriction items",
        "description": "Get PartRestriction items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartRestrictions",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRestrictionSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRestrictionSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartRestrictions('{Company}','{PartNum}','{RestrictionTypeID}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartRestriction item",
        "description": "Calls GetRows to retrieve PartRestriction item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartRestriction",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RestrictionTypeID",
            "in": "path",
            "description": "RestrictionTypeID",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRestriction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRestriction"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartRevs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartRev items",
        "description": "Get PartRev items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartRevs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRevSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRevSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartRevs('{Company}','{PartNum}','{RevisionNum}','{AltMethod}','{ProcessMfgID}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartRev item",
        "description": "Calls GetRows to retrieve PartRev item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartRev",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RevisionNum",
            "in": "path",
            "description": "RevisionNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AltMethod",
            "in": "path",
            "description": "AltMethod",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProcessMfgID",
            "in": "path",
            "description": "ProcessMfgID",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_expand"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRev"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartRev"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartSubs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartSub items",
        "description": "Get PartSub items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartSubs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSubSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSubSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartSubs('{Company}','{PartNum}','{SubPart}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartSub item",
        "description": "Calls GetRows to retrieve PartSub item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartSub",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubPart",
            "in": "path",
            "description": "SubPart",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSub"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartSub"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartUOMs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartUOM items",
        "description": "Get PartUOM items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartUOMs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartUOMSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartUOMSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartUOMs('{Company}','{PartNum}','{UOMCode}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartUOM item",
        "description": "Calls GetRows to retrieve PartUOM item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartUOM",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UOMCode",
            "in": "path",
            "description": "UOMCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartUOM"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartUOM"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartWhses": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartWhse items",
        "description": "Get PartWhse items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartWhses",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartWhseSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartWhseSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/PartWhses('{Company}','{PartNum}','{WarehouseCode}','{Plant}')": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartWhse item",
        "description": "Calls GetRows to retrieve PartWhse item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_PartWhse",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WarehouseCode",
            "in": "path",
            "description": "WarehouseCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Plant",
            "in": "path",
            "description": "Plant",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartWhse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartWhse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/TaxExempts": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve TaxExempt items",
        "description": "Get TaxExempt items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_TaxExempts",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.TaxExemptSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.TaxExemptSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/Parts('{Company}','{PartNum}')/TaxExempts('{Company}','{RelatedToFile}','{Key1}','{Key2}','{TaxCode}','{RateCode}',{EffectiveFrom})": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve TaxExempt item",
        "description": "Calls GetRows to retrieve TaxExempt item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_Part_TaxExempt",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RelatedToFile",
            "in": "path",
            "description": "RelatedToFile",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key1",
            "in": "path",
            "description": "Key1",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Key2",
            "in": "path",
            "description": "Key2",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TaxCode",
            "in": "path",
            "description": "TaxCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RateCode",
            "in": "path",
            "description": "RateCode",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EffectiveFrom",
            "in": "path",
            "description": "EffectiveFrom",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.TaxExempt"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.TaxExempt"
                }
              }
            }
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/PartAttches": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartAttch items",
        "description": "Get PartAttch items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_PartAttches",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttchSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttchSetResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OData"
        ],
        "summary": "Calls UpdateExt to create new item for the service",
        "description": "Calls UpdateExt to create new item for the service.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "Add_UpdateExt_PartAttches",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          }
        ],
        "requestBody": {
          "description": "Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.PartAttch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.PartAttch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Resource is created. Operation is successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              }
            }
          },
          "400": {
            "description": "Unable to deserialize entity. Input data is not in correct format."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/PartAttches('{Company}','{PartNum}',{DrawingSeq})": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartAttch item",
        "description": "Calls GetRows to retrieve PartAttch item by specified keys.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_PartAttch",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DrawingSeq",
            "in": "path",
            "description": "DrawingSeq",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartAttch"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OData"
        ],
        "summary": "Call UpdateExt to delete PartAttch item",
        "description": "Call UpdateExt to delete PartAttch item.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "Delete_UpdateExt_PartAttch",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DrawingSeq",
            "in": "path",
            "description": "DrawingSeq",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Operation is successful."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      },
      "patch": {
        "tags": [
          "OData"
        ],
        "summary": "Calls UpdateExt to update PartAttch for the service",
        "description": "Calls UpdateExt to update PartAttch.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "UpdateExt_PartAttch",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "name": "Company",
            "in": "path",
            "description": "Company",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartNum",
            "in": "path",
            "description": "PartNum",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DrawingSeq",
            "in": "path",
            "description": "DrawingSeq",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.PartAttch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Erp.PartAttch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content. Operation is successful."
          },
          "400": {
            "description": "Unable to deserialize entity. Input data is not in correct format."
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/{currentCompany}/Erp.BO.PartSvc/PartCOOs": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Calls GetRows to retrieve PartCOO items",
        "description": "Get PartCOO items from the server using GetRows standard method.\u003Cdiv\u003EOData-specific rules:\u003Cul\u003E\u003Cli\u003EOData $-parameters data are case-sensitive\u003C/li\u003E\u003Cli\u003EString parameters should be specified in single quotes\u003C/li\u003E\u003C/ul\u003E\u003C/div\u003E",
        "operationId": "GetRows_PartCOOs",
        "parameters": [
          {
            "$ref": "#/components/parameters/currentCompany"
          },
          {
            "$ref": "#/components/parameters/X-API-Key"
          },
          {
            "$ref": "#/components/parameters/op_select"
          },
          {
            "$ref": "#/components/parameters/op_filter"
          },
          {
            "$ref": "#/components/parameters/op_orderby"
          },
          {
            "$ref": "#/components/parameters/op_top"
          },
          {
            "$ref": "#/components/parameters/op_skip"
          },
          {
            "$ref": "#/components/parameters/op_count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOOSetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erp.PartCOOSetResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OData"
        ],
[...]
